PORT=5005
DATABASE_URL="postgresql://username:password@host/neondb?sslmode=require"
JWT_SECRET="votre_cle_secrete_jwt_ici"
ADMIN_INITIAL_EMAIL="admin@7bhil.com"
ADMIN_INITIAL_PASSWORD="VotreMotDePasseAdminIci"
GEMINI_API_KEY="votre_cle_gemini_api"
